#home{
	position: absolute;
	margin-top: 16%;
	margin-left: 40%;
	width: 364px;
	background-color: #363636;
	border-color: #363636;

}
.btn.btn-primary{
	border:none;
	background-color: #43CD80;
	width: 325px;
}
.btn.btn-primary:hover{
}

.mensagem{
	width: 50%;
}
