<center>
	<div class="well" id="home">
			<label>
				<font size="50">Login</font>
			</label>
        		<input type="text" placeholder="Digite sua matrícula" name="matricula" ng-model="aluno.matricula" required class="form-control"></input>
            <!--<label>
				<h2>Senha</h2>
			</label>-->
			<input type="password" placeholder="Digite sua senha" name="senha" ng-model="aluno.senha" required class="form-control">-->
		
			<button type="submit" class="btn btn-primary" id="botaoHome" ng-disabled="!aluno.matricula" ng-click= "login()">Entrar</button>
	</div>
</center>